
<div class="signup__popup">
  <h2>Нашли дешевле?</h2>
  <p><b>Мы гарантируем</b> снижение цены <b class="red">на 5% от стомости товара конкурента</b> в следующих случаях: 1. Товар конкурента полностью идентичен товару нашего магазина. 2.Конкурент предлагает аналогичные условия оплаты и доставки товара. 3. Товар конкурента находится в наличии на складе и доступен для заказа</p>
  <form action="" novalidate="novalidate">
    <div class="field__widget type-block field-name">
      <label for="input-cheaper-name" class="label">Ваше имя:</label>
      <div class="field">
        <div class="input">
          <input type="text" id="input-cheaper-name" autocomplete="off" name="name"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-email">
      <label for="input-cheaper-email" class="label">Эл.почта:</label>
      <div class="field">
        <div class="input">
          <div class="placeholder">name@domain.ru</div>
          <input type="email" id="input-cheaper-email" autocomplete="off" name="email"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-name">
      <label for="input-cheaper-link" class="label">Ссылка на товар:</label>
      <div class="field">
        <div class="input">
          <input type="text" id="input-cheaper-link" autocomplete="off" name="link"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-name">
      <label for="input-cheaper-price" class="label">Стоимость товара конкурента (в рублях):</label>
      <div class="field">
        <div class="input">
          <input type="number" id="input-cheaper-price" autocomplete="off" name="price"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-submit">
      <div class="field">
        <button type="submit" class="button type-blue fill size-41">Отправить</button>
      </div>
    </div>
  </form>
</div>