
<div class="signup__popup">
  <h2>Предзаказ</h2>
  <p class="align-center">Оставьте телефон и наш менеджер свяжется с вами для уточнения деталей предзаказа.</p>
  <form action="" novalidate="novalidate">
    <div class="field__widget type-block field-name">
      <label for="input-fastbuy-name" class="label">Имя:</label>
      <div class="field">
        <div class="input">
          <input type="text" id="input-fastbuy-name" autocomplete="off" name="name"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-phone">
      <label for="input-fastbuy-phone" class="label">Телефон:</label>
      <div class="field">
        <div class="input">
          <input type="tel" id="input-fastbuy-phone" autocomplete="off" name="phone" data-phonemask="data-phonemask"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-submit align-right">
      <div class="field">
        <button type="submit" class="button type-blue fill size-41">Отправить</button>
      </div>
    </div>
  </form>
</div>