
<div class="signup__popup">
  <h2>Восстановление <br/>пароля</h2>
  <form action="" novalidate="novalidate">
    <div class="field__widget type-block field-email">
      <label for="input-signin-email" class="label">Эл.почта:</label>
      <div class="field">
        <div class="input">
          <div class="icon pos-after"><span class="icon__help">
              <svg>
                <use xlink:href="../images/sprite.svg#help"></use>
              </svg></span>
          </div>
          <div class="placeholder">name@domain.ru</div>
          <input type="email" id="input-signin-email" autocomplete="off" name="email"/>
        </div>
      </div>
    </div>
    <div class="field__widget type-block field-submit align-right">
      <div class="field"><a href="/bitrix/templates/dsklad/ajax/signin.html" data-fancybox-type="ajax" class="button button type-blue size-41 fancybox">Назад</a>
        <button type="submit" class="button type-blue fill size-41">Отправить</button>
      </div>
    </div>
  </form>
</div>