
<div class="return__popup">
  <form action="">
    <div class="heading">
      <h2>Возврат по заказу № 12345</h2>
      <p>Выберите товары и их количество к возврату, а также заполните данные для подачи заявления, которое вы сможете скачать на следующем шаге.</p>
    </div>
    <div class="goods">
      <div class="item">
        <div class="image"><img src="../images/temp/photo_66-10.jpg" alt=""/></div>
        <div class="info">
          <div class="category"><a href="">Стулья</a></div>
          <div class="name"><a href="">Chair Eames DSW dark beech</a></div>
          <div class="data">
            <p class="article"><span>Артикул:</span> 150-1652-12</p>
            <p class="value"><span>Кол-во:</span> 11 шт.</p>
            <p class="color"><span>Цвет:</span> черный</p>
          </div>
        </div>
        <div class="count">
          <div data-min="1" data-measure=" шт." class="counter__widget"><a href="" data-add="-1">-</a>
            <div class="input">
              <input type="tel" name="good[1]" autocomplete="off" value="38 шт."/>
            </div><a href="" data-add="1">+</a>
          </div>
        </div>
        <div class="total"><span>Всего:</span> <b>148 200. –</b></div>
      </div>
      <div class="item">
        <div class="image"><img src="../images/temp/photo_66-10.jpg" alt=""/></div>
        <div class="info">
          <div class="category"><a href="">Стол</a></div>
          <div class="name"><a href="">Table Eames DSW dark beech</a></div>
          <div class="data">
            <p class="article"><span>Артикул:</span> 150-1652-12</p>
            <p class="value"><span>Кол-во:</span> 11 шт.</p>
            <p class="color"><span>Цвет:</span> черный</p>
          </div>
        </div>
        <div class="count">
          <div data-min="1" data-measure=" шт." class="counter__widget"><a href="" data-add="-1">-</a>
            <div class="input">
              <input type="tel" name="good[1]" autocomplete="off" value="0 шт."/>
            </div><a href="" data-add="1">+</a>
          </div>
        </div>
        <div class="total"><span>Всего:</span> <b>0. –</b></div>
      </div>
      <div class="money">Cумма возврата: <span>148 200. –</span></div>
    </div>
    <fieldset>
      <div class="legend">Причина возврата:</div>
      <div class="field__widget type-inline">
        <label for="input-return-comment" class="label">Кратко опишите причину:</label>
        <div class="field">
          <div class="input">
            <textarea id="input-return-comment" name="comment" rows="3" placeholder="Напр. не подошел цвет, не устроило качество товара, дефект товара."></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="legend">Реквизиты для возврата:</div>
      <div class="field__widget type-inline">
        <label for="input-return-name" class="label">ФИО владельца счёта:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-name" type="text" name="name" placeholder="Напр. Иванов Иван Иванович" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="field__widget type-inline">
        <label for="input-return-bank" class="label">Наименование банка:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-bank" type="text" name="bank" placeholder="Напр. Напр. ООО “Сбербанк”" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="field__widget type-inline field-bik">
        <label for="input-return-bik" class="label">БИК банка:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-bik" type="tel" name="bik" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="field__widget type-inline">
        <label for="input-return-correspondent-account" class="label">Корреспондентский счёт:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-correspondent-account" type="tel" name="correspondent-account" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="field__widget type-inline field-operating-account">
        <label for="input-return-operating-account" class="label">Расчетный счёт:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-operating-account" type="tel" name="operating-account" autocomplete="off"/>
          </div>
          <p>Для юридических лиц</p>
        </div>
      </div>
      <div class="field__widget type-inline field-separate-account">
        <label for="input-return-separate-account" class="label">Лицевой счёт:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-separate-account" type="tel" name="separate-account" autocomplete="off"/>
          </div><span class="icon__help">
            <svg>
              <use xlink:href="../images/sprite.svg#help"></use>
            </svg></span>
        </div>
      </div>
      <div class="field__widget type-inline field-card">
        <label for="input-return-card" class="label">№ банковской карты:</label>
        <div class="field">
          <div class="input">
            <input id="input-return-card" type="tel" name="card" autocomplete="off"/>
          </div><span class="icon__help">
            <svg>
              <use xlink:href="../images/sprite.svg#help"></use>
            </svg></span>
        </div>
      </div>
    </fieldset>
    <div class="submit">
      <button type="submit" class="button type-blue fill size-41">Отправить</button>
    </div>
  </form>
</div>