
<div class="return__popup">
  <div class="heading">
    <h2>Возврат по заказу № 12345</h2>
    <p>Cкачайте заявление на возврат,  подпишите его (если вы Юридическое лицо, поставьте также печать), и пришите нам скан подписанного заявления на адрес электронной почты: <br/><a href="mailto:client@dsklad.ru">client@dsklad.ru</a></p>
  </div>
  <div class="result"><span class="icon__download">
      <svg>
        <use xlink:href="images/sprite.svg#download"></use>
      </svg></span>
    <p>Заявление на возврат по заказу №12345 <br/>Документ PDF (357 кб)</p><a class="button type-blue fill size-41">Скачать заявление</a>
  </div>
</div>