extends kit-layout

block content

	section.d-system__item
		.header-page
			h1 Типографика

		.d-system__typography
			h1 Заголовок h1
			h2 Заголовок h2
			h3 Заголовок h3
			h4 Заголовок h4
			h5 Заголовок h5
			h6 Заголовок h6

			p Дефолтный абзац текста: <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum deleniti ex iure laudantium maxime possimus quibusdam rerum ullam. A beatae cumque doloremque eaque exercitationem nam, nulla officiis quaerat sapiente.

			p.qoute Цитата: <br>What looked like a small patch of purple grass, above five feet square, was moving across the sand in their direction. When it came near enough he perceived that it was not grass; there were no blades, but only purple roots. The roots were revolving, for each small plant in the whole patch, like the spokes of a rimless wheel.


			a(href="") Ссылка
			<br><br>
			small Маленький текст