extends kit-layout

block content

	section.d-system__item
		.header-page
			h1 Компоненты

		p Вынести сюда компоненты, повторяющиеся на сайте (например, корзина - строка с товаром, в рекомендуемых - слайдер).
