extends kit-layout

block content

	section.d-system__item
		.header-page
			h1 Цветовая палитра
		p Цветовая палитра состоит из оттенков серого, синего, красного, зеленого и желтого цветов.

		.d-system__subitem

			h4 Серый
			.d-system-header
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA

			.d-system-colors
				.d-system-colors__item
					p.class-name .neutral-bg-0
					.bg-color.neutral-bg-0
					p.hex-code #ffffff
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-50
					.bg-color.neutral-bg-50
					p.hex-code #f2f2f2
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-100
					.bg-color.neutral-bg-100
					p.hex-code #e5e5e5
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-200
					.bg-color.neutral-bg-200
					p.hex-code #cccccc
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-300
					.bg-color.neutral-bg-300
					p.hex-code #b2b2b2
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-400
					.bg-color.neutral-bg-400
					p.hex-code #999999
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-500
					.bg-color.neutral-bg-500
					p.hex-code #7f7f7f
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-600
					.bg-color.neutral-bg-600
					p.hex-code #666666
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-700
					.bg-color.neutral-bg-700
					p.hex-code #4c4c4c
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-800
					.bg-color.neutral-bg-800
					p.hex-code #333333
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-900
					.bg-color.neutral-bg-900
					p.hex-code #191919
					p.rgba-code
				.d-system-colors__item
					p.class-name .neutral-bg-1000
					.bg-color.neutral-bg-1000
					p.hex-code #000000
					p.rgba-code

		.d-system__subitem

			h4 Синий
			.d-system-header
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA

			.d-system-colors
				.d-system-colors__item
					p.class-name .blue-bg-50
					.bg-color.blue-bg-50
					p.hex-code #f5f9ff
					p.rgba-code 245,249,255,1
				.d-system-colors__item
					p.class-name .blue-bg-75
					.bg-color.blue-bg-75
					p.hex-code #d9e6ff
					p.rgba-code 217,230,255,1
				.d-system-colors__item
					p.class-name .blue-bg-100
					.bg-color.blue-bg-100
					p.hex-code #bed5ff
					p.rgba-code #f5f9ff
				.d-system-colors__item
					p.class-name .blue-bg-200
					.bg-color.blue-bg-200
					p.hex-code #85b0ff
					p.rgba-code #f5f9ff
				.d-system-colors__item
					p.class-name .blue-bg-300
					.bg-color.blue-bg-300
					p.hex-code #3b80ff
					p.rgba-code #f5f9ff
				.d-system-colors__item
					p.class-name .blue-bg-400
					.bg-color.blue-bg-400
					p.hex-code #1769ff
					p.rgba-code #f5f9ff
				.d-system-colors__item
					p.class-name .blue-bg-500
					.bg-color.blue-bg-500
					p.hex-code #155cde
					p.rgba-code #f5f9ff


		.d-system__subitem

			h4 Красный
			.d-system-header
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA

			.d-system-colors
				.d-system-colors__item
					p.class-name .red-bg-75
					.bg-color.red-bg-75
					p.hex-code #fce8ea
					p.rgba-code
				.d-system-colors__item
					p.class-name .red-bg-100
					.bg-color.red-bg-100
					p.hex-code #fac7cb
					p.rgba-code
				.d-system-colors__item
					p.class-name .red-bg-200
					.bg-color.red-bg-200
					p.hex-code #f48e98
					p.rgba-code
				.d-system-colors__item
					p.class-name .red-bg-300
					.bg-color.red-bg-300
					p.hex-code #f05765
					p.rgba-code
				.d-system-colors__item
					p.class-name .red-bg-400
					.bg-color.red-bg-400
					p.hex-code #ea1e31
					p.rgba-code
				.d-system-colors__item
					p.class-name .red-bg-500
					.bg-color.red-bg-500
					p.hex-code #d21a2c
					p.rgba-code


		.d-system__subitem

			h4 Зеленый
			.d-system-header
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA

			.d-system-colors
				.d-system-colors__item
					p.class-name .green-bg-75
					.bg-color.green-bg-75
					p.hex-code #ecf8f0
					p.rgba-code
				.d-system-colors__item
					p.class-name .green-bg-100
					.bg-color.green-bg-100
					p.hex-code #d0eedb
					p.rgba-code
				.d-system-colors__item
					p.class-name .green-bg-200
					.bg-color.green-bg-200
					p.hex-code #a1ddb6
					p.rgba-code
				.d-system-colors__item
					p.class-name .green-bg-300
					.bg-color.green-bg-300
					p.hex-code #73cc93
					p.rgba-code
				.d-system-colors__item
					p.class-name .green-bg-400
					.bg-color.green-bg-400
					p.hex-code #44bb6e
					p.rgba-code
				.d-system-colors__item
					p.class-name .green-bg-500
					.bg-color.green-bg-500
					p.hex-code #3da762
					p.rgba-code







		.d-system__subitem

			h4 Желтый
			.d-system-header
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA
				.d-system-header__item
					p.d-system-header__name Имя класса
					p.d-system-header__color Цвет
					p.d-system-header__hex HEX
					p.d-system-header__rgba RGBA

			.d-system-colors
				.d-system-colors__item
					p.class-name .yellow-bg-75
					.bg-color.yellow-bg-75
					p.hex-code #fff6e7
					p.rgba-code
				.d-system-colors__item
					p.class-name .yellow-bg-100
					.bg-color.yellow-bg-100
					p.hex-code #ffeac3
					p.rgba-code
				.d-system-colors__item
					p.class-name .yellow-bg-200
					.bg-color.yellow-bg-200
					p.hex-code #ffd688
					p.rgba-code
				.d-system-colors__item
					p.class-name .yellow-bg-300
					.bg-color.yellow-bg-300
					p.hex-code #ffc24d
					p.rgba-code
				.d-system-colors__item
					p.class-name .yellow-bg-400
					.bg-color.yellow-bg-400
					p.hex-code #ffad11
					p.rgba-code
				.d-system-colors__item
					p.class-name .yellow-bg-500
					.bg-color.yellow-bg-500
					p.hex-code #f0960b
					p.rgba-code

