extends kit-layout

block content

	section.d-system__item
		.header-page
			h1 Сетка

		p Использовала стандартную сетку: &nbsp;
			a(href="https://thingsym.github.io/flexbox-grid-mixins/" target="_blank") https://thingsym.github.io/flexbox-grid-mixins/
