extends templates/layout

block csslibs
	link(rel="stylesheet" href="https://www.dsklad.ru/local/assets/css/purepopup.css")
	link(rel="stylesheet" href="css/catalog-detail/style.css")

block nav
	-var isPrepay = false

block content

	include templates/incl-catalog-detail

	script(src="https://www.dsklad.ru/local/assets/js/purepopup.js")
	script(src="js/catalog-detail-init.js")
