<b>Дизайн Склад</b> – это интернет-магазин дизайнерских стульев и столов с доставкой по России, Москве и Санкт-Петербургу. Мы даём возможность выбрать качественную мебель для интерьера и приобрести её по низким ценам. Для вашего удобства мы предлагаем быструю доставку и честные условия возврата. Благодаря широкой цветовой палитре и разнообразию форм и материалов, каждый сможет выбрать мебель под свой интерьер. <br>
 <br>
 <b>Как работаем</b><br>
 Для удержания цен на максимально низком уровне мы автоматизировали все процессы.<br>
 Избавились от трат на содержание шоу-румов и лишних сотрудников, сделав выбор в пользу усовершенствования технологий логистики и хранения грузов. <br>
 <br>
 <b>Оплата и доставка</b><br>
 Мы уверены в своём товаре, поэтому даём возможность получить товар, осмотреть его, убедиться в высоком качестве приобретенной мебели и только после этого оплатить. Произвести оплату возможно наличными при получении, банковской картой или по безналичному расчёту. <br>
 <br>
 <b>Возврат товара и гарантия</b><br>
 Наши условия возврата абсолютно прозрачны. Мы без лишних разговоров меняем бракованные товары или их составляющие, если дефекты были вызваны неосторожностью перевозчика или ошибкой фабрики. Также вы имеете право вернуть не подошедший товар в течение 15 дней с момента покупки без объяснения причин и абсолютно бесплатно. Вернуть товар можно как с курьером до оплаты товара, так и в любом пункте выдачи заказов. Гарантия на наши товары составляет 18 месяцев. <br>
 <br>
Клиент для нас превыше всего.
Мы рядом с вами до, во время и даже после момента совершения покупки. Внимательно вникаем в каждый запрос
и всегда действуем в пользу клиента. Мы стремимся стать лучшим интернет-магазином мебели.