<h2 class="big">Доставляем в 250 городов России</h2>
<p>Продавая мебель клиентам по всей России, мы обратили внимание, что наличие дорогостоящего шоу-рума и
    собственной службы доставки не являются ключевыми факторами, влияющими на решение покупателя
    приобрести наш товар. Поэтому мы решили отказаться от собственных торговых площадей, шоу-румов,
    организации службы доставки, что позволило нам существенно снизить цены на нашу продукцию.</p><img src="/bitrix/templates/dsklad/images/temp/text_WH-2.jpg" alt="">
<h2 class="big">Внимательно относимся к каждому покупателю</h2>
<p>Для нас человек, приобретающий один стул, также важен, как и компания, покупающая пятьсот стульев.
    Поэтому мы сознательно отказались от ценовой дискриминации, и сразу объявляем наименьшую цену, которая
    в большинстве случаев оказывается ниже, чем оптовая, дилерская или дистрибьюторская цена других
    компаний, торгующих похожим ассортиментом.</p><img src="/bitrix/templates/dsklad/images/temp/text_WH-3.jpg" alt="">
<h2 class="big">Дизайн Склад — выгодное место для покупки мебели</h2>
<p>Магазин «Дизайн Склад» полностью отражает наше виденье бизнеса как мебельного интернет-магазина
    дискаунтера, торгующего напрямую со склада, без лишних посредников. Мы работаем только с крупными и
    стабильными компаниями-партнерами, такими как DPD, Яндекс, Альфа-банк. Благодаря этому вы
    можете быть уверены, что покупка в нашем интернет-магазине будет лёгкой, а ваш заказ не разобьют и
    не потеряют, доставив в удобное для вас время.</p>
<p>Клиент для нас превыше всего. Мы рядом с вами до, во время и даже после момента совершения покупки. Внимательно вникаем в каждый запрос и всегда действуем в пользу клиента. Мы стремимся стать лучшим интернет-магазином мебели. Приятных покупок!</p>