<strong>НАШИ РЕКВИЗИТЫ</strong>
<p>
	<span class="fn org">ООО «Топ Трейд» </span><br>
	<b>ИНН:</b> 7802860638<span class="hidden-l">; </span><br class="hidden-m">
	<b>КПП:</b>
	780201001<span class="hidden-l">; </span><br class="hidden-m">
	<b>ОГРН:</b> 1147847178160<span class="hidden-l">; </span><br>
	<span class="adr"><b>Юридический адрес:</b> <br class="hidden-lte-m">
	194021, <span class="locality">г. Санкт-Петербург</span>, <span class="street-address">ул. Шателена, д. 26, лит. А,</span> оф. 822</span><br>
	<b>Банковские реквизиты:</b> <br class="hidden-lte-m">
	ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"<br>
	<b>БИК:</b>
	044030786<span class="hidden-l">; </span><br class="hidden-m">
	<b>Р/С:</b>
	40702810232000001951<span class="hidden-l">; </span><br class="hidden-m">
	<b>К/С:</b>
	30101810600000000786
</p>
