.ds-modal__header
	span(class="icon-svg ic-close ds-modal-close" onclick="purepopup.closePopup();")
	h4 Как оформить товар по предоплате
.ds-modal__body
	p Чтобы заказать
		strong  Комплект Avanti Round + Кресло Мартин Крутящееся
		|  с 50-ти процентной скидкой, оплатите 50% от стоимости заказа сейчас. Когда мы привезем товар (ориентировочная дата поставки - 25.06.2019), оплатите курьеру оставшиеся 50% от стоимости товара.
