if (isCity)
	.ds-basket-city
		.ds-basket-city__item
			| Санкт-Петербург
		.ds-basket-city__btn
			| Изменить

		.ds-basket-city__text
			| Доступность способов доставки и оплаты заказа зависит от выбранного города.