.ds-checkout-header
	.ds-wrapper.ds-checkout-header__content
		.ds-checkout-header__logo
			img(src="https://www.dsklad.ru/local/templates/dsklad/images/logo.svg" alt="")
		.ds-checkout-header__phone
			span Служба поддержки
			p 8 800 777-12-74